:root{
    --background: #343D48;
    --text: #C9E1D7;
    --sidebar: #264042;
    --hover: #ADD8E6;
    --pixel: 20px;
}
*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    background-color: var(--background);
}
header{
    display: flex;
    justify-content: space-between;
    padding: 2.5%;
    align-items: center;
    background-color: var(--background);
    color: var(--text);
}
nav ul{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
    margin: var(--pixel);
}
nav a:hover{
    color: var(--hover);
}
nav a{
    font-weight: bold;
    text-decoration: none;
    color: var(--text);
}
main{
    display: flex;
    flex-wrap: wrap;
}
aside{
    flex: 1;
    background-color: var(--sidebar);
    padding: var(--pixel);
    color: var(--text);
}
section{
    flex: 3;
    background-color: var(--background);
    padding: var(--pixel);
    color: var(--text);
}
div{
    padding: var(--pixel);
}
img{
    border: 5px solid var(--sidebar);
}
img:hover{
    border: 5px solid var(--hover);
}
.about-me{
    padding: 1rem;
}
.project-card{
    padding: 2rem;
    outline: dashed var(--text);
}
footer div{
    display: flex;
    justify-content: space-between;
    padding: 2.5%;
    align-items: center;
    background-color: var(--background);
    color: var(--text);
}
footer ul{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    list-style: none;
    margin: var(--pixel);
}
footer li{
    padding-left: var(--pixel);
    padding-right: var(--pixel);
}
footer a{
    font-weight: bold;
    text-decoration: none;
    color: var(--text);
}
footer a:hover{
    color: var(--hover);
}
@media screen and (max-width: 992px) {
}
@media screen and (max-width: 768px) {
    }
@media screen and (max-width: 600px) {
    }